#title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 250px;
  font-size: 20px;
}

#artist {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}


#production {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.info {
  width: 35%;
  float: left;
  margin-top: 415px;
  margin-left: 265px;
  border-radius: 50%;
}


/*billed stying*/
#search-images {
  width: 60%;
  float: left;
}

img {
  margin: 0px;
  max-width: 261px;
  height: 360px;
  overflow: hidden;
  object-fit: cover;
  margin-left: 589px;
  margin-top: 214px;
  padding: 0;
  float: left;
  position: absolute;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;  
  background: url('./Billeder/Baggrund1.png') no-repeat center center fixed;
  
    background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
    -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
    -moz-background-size: cover; /* optional for Firefox 3.6 */ 
    -o-background-size: cover; 
    margin: 0; /* to remove the default white margin of body */
    padding: 0; /* to remove the default white margin of body */
    overflow: hidden;
    position: absolute;
}





/* Knapperne styling */
button {
margin: 20px 20px 0px 0px;
border-radius: 50%;
height: 40px;
width: 40px;
margin-right: auto;
Margin-left:17px;
float: left;

}

.Knapper {
  height: 100%;
  margin-left: 64.5%;
  margin-right: 17%;
  margin-top: 327px;
  list-style-type: disc;
}

.buttonSort {
  background-color: black;
}
.buttonLilla {
  background-color:blueviolet;
}
.buttonRød {
  background-color: red;
}

.buttonGul {
  background-color:yellow;
}

.buttonLyserød {
  background-color: pink;
}

.buttonOrange {
  background-color: orange;
}

.buttonGrøn {
  background-color: green;
}

.buttonBlå {
  background-color: blue;
}

.buttonGrå {
  background-color: gray;
}

.buttonHvid {
  background-color: white;
}

.buttonTurkis{
  background-color: turquoise;
}

.buttonBaige{
  background-color: beige;
}